@model Skill.Models.ProjectUseLabel

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>项目使用标签表</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<input type="hidden" asp-for="ProjectID" />
        <input type="hidden" asp-for="LabelID" />*@
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-area="" asp-controller="ProjectUseLabel" asp-action="Index" asp-route-id="@ViewData["id"]">返回</a>
        </div>
    </form>
</div>
