@model IEnumerable<Skill.Models.ProjectUseLabel>

@{
    ViewData["Title"] = "Index";
}

<h2>项目使用标签表</h2>

<p>

    <a asp-action="Create">添加</a>
       
    @if (ViewData["id"] != null)
    {
        <a asp-area="" asp-controller="Project" asp-action="Details" asp-route-id="@ViewData["id"]">返回上一级</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                标签名称
            </th>
            <th>
                项目名称
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                   
                        @Html.ActionLink("修改 |", "Edit", new { id = item.LabelID, ids = item.ProjectID })
                        @*//@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink(" 删除", "Delete", new { id = item.LabelID, ids = item.ProjectID })


                </td>
            </tr>
        }
    </tbody>
</table>