@model Skill.Models.Label

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

<h3>你确认删除这个标签吗？</h3>
<div>
    <h4>标签</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Applicable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applicable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="确认删除" class="btn btn-default" /> |
            <a asp-action="Index">返回列表</a>
        </div>
    </form>
</div>
