@model Skill.Models.PaginatedList<Skill.Models.Label>

@{
    ViewData["Title"] = "Index";
}

<h2>标签列表</h2>

<p>
    <a asp-action="#" data-toggle="modal" data-target="#myModal">添加标签</a>
</p>
@using (Html.BeginForm("Index", "Label", FormMethod.Get))
{
    <p>
        标签查询:@Html.TextBox("SearchString")
        <input type="submit" value="查询" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                标签名
            </th>
            <th>
                标签简介
            </th>
            <th>
                标签使用情况
            </th>
            <th>
                标签种类
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Synopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">详细信息</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    上一页
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
    下一页
</a>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel">添加新的人员</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Create" style="text-align:center" id="labelFrom">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">标签名称</label>
                            <div class="col-md-9">
                                <input class="form-control" name="Name" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">标签简介</label>
                            <div class="col-md-9">
                                <input class="form-control" name="Synopsis" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">标签使用情况</label>
                            <div class="col-md-9">
                                <input class="form-control" name="Applicable" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">标签种类</label>
                            <div class="col-md-9">
                                <input class="form-control" name="Category" />

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submit">保存信息</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            $("#labelFrom").submit();
        });

    })
</script>