@model Skill.Models.PaginatedList<Skill.Models.Label>

@{
    ViewData["Title"] = "Index";
}

<h2>标签列表</h2>

<p>
    <a asp-action="Create">添加标签</a>
</p>
@using (Html.BeginForm("Index", "Label", FormMethod.Get))
{
    <p>
        标签查询:@Html.TextBox("SearchString")
        <input type="submit" value="查询" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                标签名
            </th>
            <th>
                标签简介
            </th>
            <th>
                标签使用情况
            </th>
            <th>
                标签种类
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Synopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">详细信息</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    上一页
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
    下一页
</a>
