@model Skill.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>项目</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index">返回</a>
        </div>
    </form>
</div>

