@model Skill.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>详细情况</h2>

<div>
    <h4>项目</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd>
            <p> @Html.DisplayFor(model => model.Synopsis)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            <a asp-area="" asp-controller="ProjectPartakePerson" asp-action="Index" asp-route-id="@Model.ID">@Model.Count</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountL)
        </dt>
        <dd>
            <a asp-area="" asp-controller="ProjectUseLabel" asp-action="Index" asp-route-id="@Model.ID">@Model.CountL</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">修改</a> |
    <a asp-action="Index">返回</a>
</div>
