@model PaginatedList<Skill.Models.Project>
@{
    ViewData["Title"] = "Index";
}


<h2>项目</h2>

<p>
    <a asp-action="Create">添加项目</a>
    @using (Html.BeginForm("Index", "Project", FormMethod.Get))
    {
    <p>
        项目名称:@Html.TextBox("searchString")

        <input type="submit" value="搜索" />
    </p>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                
                项目名称
            </th>
            <th>
                项目简介
            </th>
            <th>
                开始时间
            </th>
            <th>
               完成时间
            </th>
            <th>
               项目状态
            </th>
            <th>
                参与人数
            </th>
            <th>
               标签数
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td width="200px" height="80px">
                    <p>@Html.DisplayFor(modelItem => item.Synopsis)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountL)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">修改</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">详细情况</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   @*asp-route-sortOrder="@ViewData[" CurrentSort"]"*@
   asp-route-page="@(Model.PageIndex - 1)"
   @*asp-route-currentFilter="@ViewData[" CurrentFilter"]"*@
   class="btn btn-default @prevDisabled">
    上一页
</a>
<a asp-action="Index"
   @*asp-route-sortOrder="@ViewData[" CurrentSort"]"*@
   asp-route-page="@(Model.PageIndex + 1)"
   @*asp-route-currentFilter="@ViewData[" CurrentFilter"]"*@
   class="btn btn-default @nextDisabled">
    下一页
</a>
