@model Skill.Models.PersonUseLabel

@{
    ViewData["Title"] = "Delete";
}

<h3>你确定要删除这条信息吗？</h3>
<div>
    <h4>删还是不删呢</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UseTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UseTime)
        </dd>
       
      
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">

            <input type="submit" value="确认删除" class="btn btn-default" /> |
            <a asp-action="Index">返回列表</a>
        </div>
    </form>
</div>

