@model Skill.Models.PaginatedList<Skill.Models.PersonMasterLabel>

@{
    ViewData["Title"] = "Index";
}

<h2>列表</h2>

<p>
    <a asp-action="Create">添加新项</a>
</p>
@using (Html.BeginForm("Index", "PersonMasterLabels", FormMethod.Get))
{
    <p>
        姓名查询:@Html.TextBox("SearchString")
        <input type="submit" value="查询" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                人员
            </th>
            <th>
                标签
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Label.Name)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.PersonID">修改</a> |
    <a asp-action="Details" asp-route-id="@item.PersonID">详细信息</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.PersonID">删除</a>
                    @*@Html.ActionLink("修改", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("详细信息", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("删除", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    上一页
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
    下一页
</a>