@model Skill.Models.PaginatedList<Skill.Models.Person>
@using System.Collections
@{
    ViewData["Title"] = "Index";
}

<h2>人员列表</h2>

<p>
    <a asp-action="Create">添加人员</a>
</p>
@using (Html.BeginForm("Index", "Person", FormMethod.Get))
{
    <p>
        姓名查询:@Html.TextBox("SearchString")
        <input type="submit" value="查询" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                姓名
            </th>
            <th>
                年龄
            </th>
            <th>
               生日
            </th>
            <th>
                爱好
            </th>
            <th>
               手机号
            </th>
            <th>
                住址
            </th>
            <th>
                标签
            </th>
            <th>
                项目
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hobby)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">详细信息</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    上一页
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
    下一页
</a>