@model Skill.Models.PersonUseLabel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonUseLabel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lable.Applicable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
