@model IEnumerable<Skill.Models.PersonUseLabel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    @using (Html.BeginForm("Index", "PersonUseLabel", FormMethod.Get))
    {
    <p>
        @*¿‡–Õ:@Html.DropDownList("genre", "All")*@
        Title:@Html.TextBox("searchString")
        <input type="submit" value="À—À˜" />
    </p>
    }
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Lable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserTime)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lable.Name)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
