@model IEnumerable<Skill.Models.ProjectPartakePerson>

@{
    ViewData["Title"] = "Index";
}

<h2>项目分派人员表</h2>

<p>
    @if (ViewData["id"] == null)
{
    <a asp-action="Create">添加</a>
}
else
{
    <a asp-area="" asp-controller="Project" asp-action="Details" asp-route-id="@ViewData["id"]">返回</a>
}

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishTime)
                </td>
                <td>
                    @if (ViewData["id"] == null)
                {

                        @Html.ActionLink("修改 |", "Edit", new { id = item.PersonID, ids = item.ProjectID });

                        @*@Html.ActionLink(" 详细情况 |", "Details", new { id = item.PersonID, ids = item.ProjectID });*@

                        @Html.ActionLink(" 删除", "Delete", new { id = item.PersonID, ids = item.ProjectID })
                    }

                </td>
            </tr>
        }
    </tbody>
</table>